.header-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    align-self: center;
    height: 200px;
}
.logo-container{
    display: inline-block;
}
.brand-name{
    padding-left: 12px;
    font-size:xx-large;
    margin: 0px;
    font-weight: 100;
    color:#a38406;
}
.logo{
    width: 150px;

}

.nav-list{
    display: flex;
    justify-content: center;

}

.nav-list > ul{
    display: flex;
}
.nav-list > ul > li{
    align-self: last baseline;
    list-style-type: none;
    margin: 20px;
}
.product-card{
    background-color: #f0f0f0;
    width: 200px;
    padding: 8px;
    margin: 10px;
}

.product-img{
    width: 100%;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.body{
    margin: 30px;
    align-self: center;
}
.filter-btn{
    margin: 10px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    align-self: center;
}
.shimmer-card{

    width: 200px;
    height: 400px;
    margin: 10px;
    background-color: #f0f0f0;
}
.login-btn{
    align-self: last baseline;
    margin: 10px;
    width: 100px;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
}